.about-page h2 {
    text-transform: none;
    font-weight: normal;
  }

.about-page {
    display: grid;
    gap: 2rem 4rem;
    padding-bottom: 3rem;
}

.about-img {
    border-radius: var(--borderRadius);
    height: 300px;
}

@media screen and (min-width: 992px) {
    .about-page {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 400px;
      align-items: center;
    }
    .about-img {
      height: 100%;
    }
}


/*
=============== 
Contact Page
===============
*/

.contact-form {
  width: 100%;
  margin: 0 auto;
}
.contact-container {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr 450px;
    align-items: center;
  }
}
