.heading{
    color:transparent;
    background: red;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0 10px;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
  
.contact .form1{
    height: 460px;
    margin-top: 55px;
}

.contact .image{
    flex: 1 1 26rem;
}
  
.contact .image img{
    width: 100%;
}
  
.contact form{
    flex: 1 1 44rem;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 12px;
}
  
.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.contact form .inputBox input,
.contact form .box, 
.contact form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    text-transform: none;
    color:#333;
} 
  
.contact form .inputBox input:focus,
.contact form .box:focus, 
.contact form textarea:focus{
    border-color: var(--pink);
}
  
.contact form .inputBox input{
    width: 48%;
}
  
.contact form textarea{
    height: 220px;
    resize: auto;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  