  *,
  ::after,
  ::before {
    box-sizing: border-box;
    transition: 0.3s;
    font-family: unset;
  }
  /* fonts */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
  html {
    font-size: 100%;
  } /*16px*/

  :root {
    /* colors */
    --primary: #2f2fa2;
    --hover: #f64c72;

    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    /* rest of the colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    /* fonts  */
    --headingFont: 'Roboto', sans-serif;
    --bodyFont: 'Nunito', sans-serif;
    --smallText: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1320px;
    --fixed-width: 600px;

    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
    color: var(--textColor);
    margin: 0;
  }

  p {
    margin-top: 0;
  }

  small,
  .text-small {
    font-size: var(--smallText);
  }

  a {
    text-decoration: none;
  }
  ul {
      list-style-type: none;
      padding: 0;
    }

    .img {
      width: 100%;
      display: block;
      object-fit: cover;
    }

  /* buttons */
  button,
  .btn {
      cursor: pointer;
      color: var(--white);
      background: var(--primary);
      border: transparent;
      border-radius: var(--borderRadius);
      letter-spacing: var(--letterSpacing);
      padding: 0.375rem 0.75rem;
      box-shadow: var(--shadow-1);
      transition: var(--transtion);
      text-transform: capitalize;
      display: inline-block;
      font-size: 16px;
  }

  button:hover, 
  .btn:hover {
      background: var(--hover);
      transition: 0.3s;
  }

  button.small {
      padding: 0.25rem 0.5rem;
      font-size: var(--smallText);
  }

  button.hipster {
      color: var(--primary);
      background: var(--primary);
  }

  button.hipster:hover {
      color: var(--primary);
      background: var(--primary);
  }

  .btn-block {
      width: 100%;
  }

  /* alerts */
  .alert {
      padding: 0.375rem 0.75rem;
      margin-bottom: 1rem;
      border-color: transparent;
      border-radius: var(--borderRadius);
  }
    
  .alert-danger {
      color: var(--red-dark);
      background: var(--red-light);
  }
    
  .alert-success {
      color: var(--green-dark);
      background: var(--green-light);
  }

  /* form */
  .form {
      width: 90vw;
      max-width: var(--fixed-width);
      background: var(--white);
      border-radius: var(--borderRadius);
      box-shadow: var(--shadow-2);
      padding: 2rem 2.5rem;
      margin: 3rem auto;
  }
  
  .form-label {
      display: block;
      font-size: var(--smallText);
      margin-bottom: 0.5rem;
      text-transform: capitalize;
      letter-spacing: var(--letterSpacing);
  }
  
  .form-input,
  .form-textarea {
      width: 100%;
      padding: 0.375rem 0.75rem;
      border-radius: var(--borderRadius);
      background: var(--backgroundColor);
      border: 1px solid var(--grey-200);
  }
    
  .form-row {
      margin-bottom: 1rem;
  }
    
  .form-textarea {
      height: 7rem;
  }

  ::placeholder {
      font-family: inherit;
      color: var(--grey-400);
  }

  .form-alert {
      color: var(--red-dark);
      letter-spacing: var(--letterSpacing);
      text-transform: capitalize;
  }

  /* alert */
    
  @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
  }
    
  .loading {
      width: 6rem;
      height: 6rem;
      border: 5px solid var(--grey-400);
      border-radius: 50%;
      border-top-color: var(--primary);
      animation: spinner 0.6s linear infinite;
  }
  /*
  =============== 
  Navbar
  ===============
  */

  .navbar {
      display: flex;
      align-items: center;
      justify-content: center;
  }
    
  .nav-center {
      width: 90vw;
      max-width: var(--max-width);
  }
    
  .nav-header {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
    
  .nav-header h1 {
      font-size: 26px;
      margin-top: 0px;
      color: #f64c72;
  } 
    
  .nav-btn {
      padding: 4px 10px;
  }

  .nav-btn i {
      font-size: 14px;
  }
    
  .nav-links {
      height: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: var(--transition);
  }
    

  .show-links {
    height: 350px;
  }

  .nav-link {
    display: block;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    color: black;
    letter-spacing: var(--letterSpacing);
    padding: 16px 0;
    border-top: 1px solid var(--grey-500);
    transition: var(--transition);
  }

  .nav-link:hover {
      color: var(--hover);
  }
    
  .contact-link a {
      padding: 4px 10px;
  }
    
@media screen and (min-width: 992px) {
    .navbar {
      height: 80px;
    }

    .nav-center {
      display: flex;
      align-items: center;
    }
    
    .nav-header {
      padding: 0;
      margin-right: 2rem;
      height: auto;
    }
  
    .nav-btn {
      display: none;
    }
    
    .nav-links {
      height: auto !important;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
    
    .nav-link {
      padding: 0;
      border-top: none;
      margin-right: 1rem;
      font-size: 14px;
    }
    
    .contact-link {
      margin-right: 0;
      margin-left: auto;
    }
}
  